.footer {
  display: grid;
  margin-right: 4%;
  justify-content: space-between;
  align-items: start;
  align-content: start;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 2rem 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  text-align: left;
}

.footer > * > h1 {
  color: white;
}

.footer > * > h3 {
  font-size: 1.25rem;
  font-family: 'DM Sans', sans-serif;
  color: white;
}

.footer > * > * > * > a, .socials > a  {
  text-decoration: none;
  color: #808589;
}

.footer > * > ul {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.footer > * > * > li {
  font-Size: clamp(0.85rem, 1.5vw, 1rem);
  display: list-item;
  list-style: none;
}

.footer > * > * > * > a:hover, .socials > a:hover{
  color: white;
}

.socials > a {
  margin-right: 0.5rem;
}

.socials:last-child {
  margin-right: 0;
}

.footerBg {
  background-color: #303030;
  padding: 4rem 8rem;
}

@media screen and (max-width: 767px) {
  .footer {
    margin-right: 0%;
    margin-bottom: 56px;
    flex-direction: column;
    grid-auto-flow: row;
  }

  .footerBg {
    padding: 4rem 2rem;
  }
}
