.navbarLink {
  margin-right: 1.5rem;
}

.navbarLink > * {
  color: white;
  text-decoration: none;
}

.navbarLink:last-child {
  margin-right: 0;
}

.actionButton {
  text-align: center;
  font-size: 1rem;
  height: 2.5rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  width: 10rem;
}