.navbarLink {
  margin-right: 1.5rem;
}

.navbarLink:last-child {
  margin-right: 0;
}

.mobileNavLink {
  margin-bottom: 1.5rem;
}

.mobileNavLink:last-child {
  margin-bottom: 0;
}

.navbarLink > *, .mobileNavLink > * {
  color: #808589;
  text-decoration: none;
}

.mobileLinks {
  box-shadow: 0 8px 8px -8px rgba(250, 108, 94, 0.4);
  position: fixed;
  z-index: 2;
  top: 5.25rem;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.actionButton {
  text-align: center;
  font-size: 1rem;
  height: 2.5rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  width: 10rem;
}

@media (min-width: 901px) {
  .menu {
    display: none;
  }

  .mobileLinks {
    height: 0;
    display: none;
    position: static;
  }

  .mobileNavLink {
    display: none;
    margin: 0;
  }
}

@media (max-width: 900px) {
  .navbarAction {
    display: none;
  }

  .navbarLinks {
    display: none;
  }

  .navbarLink {
    display: none;
  }
}