.hero {
  min-height: calc(100vh - 15.25rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 60rem;
  padding: 1.0875rem 1.45rem;
}

.aboutDesc > * {
  margin-bottom: 0.75rem;
}

.actionButton {
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  height: 2.5rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  width: 12rem;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
}

.disabled {
  background-color: #A0A0A0;
}

.actionBoxMember {
  width: 17.5rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  border-radius: 0.75rem;
  padding: 1.25rem;
  max-width: 70vw;
}

.actionBoxContent {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.actionBoxContent > * {
  margin-bottom: 1rem;
}

.actionBoxContent > *:last-child {
  margin-bottom: 0;
}

.heroDesktop, .heroMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.spotlight:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.card > p {
  line-height: 0.8rem;
  font-size: 0.8rem;
  margin: 0.125rem 0px 0px;
}

.card > div > p {
  line-height: 0.8rem;
  font-size: 0.8rem;
  margin: 0.125rem 0px 0px;
}

.cardLinks > a {
  text-decoration: none;
  color: #808589;
}

.cardLinks > a:hover {
  color: #FA6C5E;
}

@media (min-width: 971px) {
  .heroMobile {
    display: none;
  }

  .heroDesktop {
    display: flex;
  }
}

@media (max-width: 970px) {
  .heroDesktop {
    display: none;
  }

  .heroMobile {
    display: flex;
  }

  .hero {
    display: flex;
    min-height: calc(100vh - 10rem);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}