@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

.heroTypist > * {
  color: white !important;
  font-size: 2.5rem;
  font-family: 'Inconsolata', monospace;
}
